Source: salor-bin
Section: unknown
Priority: extra
Maintainer: Michael Franzl <office@michaelfranzl.com>
Build-Depends: build-essential, debhelper, autotools-dev, qt4-dev-tools, libqtwebkit-dev, automoc, dh-autoreconf
Standards-Version: 3.9.2
Homepage: http://red-e.eu/apps/salor-retail
#Vcs-Git: git://github.com/jasonknight/salor-bin.git
#Vcs-Browser: https://github.com/jasonknight/salor-bin

Package: salor-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtcore4, libqt4-network, gksu
Suggests: poledancer
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
